.cave-window {
    width: 500px;
    height: 500px;
    display: grid;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    overflow: hidden;
}

.cave__black {
    background-color: black;
}