.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-color: rgb(196, 236, 196);
    padding: 10px;
}